body {
  background-image: url("images/orangeback.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

h1{
	text-align: center;
}
h2{
	text-align: center;
}
.container{
	text-align: center;
	background-color: transparent;
}

/*.testing {
	background-color: transparent;
}*/