body {
  background-image: url("images/orangeback.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

h1{
	text-align: center;
}
h2{
	text-align: center;
}
.container{
	/*position: relative;*/
	text-align: center;
	background-color: transparent;
}

.containerbottom{
	position: absolute;
	bottom:0;
	width:75%;
	display:flex;
	background-color: transparent;
	flex-direction: row;
	justify-content: center;

}

/*.testing {
	background-color: transparent;
}*/