body {
  background-image: url("images/background.jpg");
  background-size: cover;
}

h1{
	text-align: center;
}
h2{
	text-align: center;
}
.container{
	text-align: center;
	background-color: transparent;
}

/*.testing {
	background-color: transparent;
}*/